/* Enter your custom styles here */
/* Enter your custom styles here */
.label {
    padding: 14px;
}

#application-createpo-Display-component---createpo--page-cont {
    overflow: hidden !important;
}

button#application-beamistacreatepo-display-component---main--addninfo-nextButton {
    display: none;
}

.sapMFlexItem {
    margin-right: 5px;
  }

/* Tweak the width of the WBS element dialog */
.wbsDialog {
    min-width: 1000px;
}

.wbsDialog>Section>div>div>div>div>div:nth-child(1) {
    min-width: 400px;
}

.wbsDialog>Section>div>div>div>div>div:nth-child(2) {
    min-width: 600px;
}

/* Make the individual lists of the WBS element dialog scroll */
.wbsDialog>Section {
    height: 100%;
}

.wbsDialog>Section>div {
    height: 95%;
}

.wbsDialog>Section>div>div,
.wbsDialog>Section>div .sapMFlexBox {
    height: 100%;
}

.wbsDialog>Section>div>div>div>div>div {
    height: 100%;
}

.wbsDialog>Section>div>div>div>div>div>div {
    height: 100% !important;
}

.wbsDialog>Section>div>div>div>div>div>div>div {
    height: 100%;
}

.wbsDialog>Section>div>div>div>div>div>div>div>div {
    height: 96%;
}

.wbsDialog>Section>div>div>div>div>div>div>div>div ul {
    height: 100%;
    overflow: auto;
}